#mts {
   background: #f0f0f0 url("../images/mts.svg"); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

#megafon {
    background: #f0f0f0 url("../images/megafon.svg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#tele2 {
    background: #f0f0f0 url("../images/tele2.svg"); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

#beeline {
    background: #f0f0f0 url("../images/beeline.svg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}