@import "./images/images.scss";

.is-hidden {
    display: none !important;
}
.error {
    background-color: #fd0054;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.error,
.global-footer {
    padding: 10px;
    text-align: center;
}
.global-footer {
    font-size: 10px;
    opacity: 0.8;
}
.global-footer--default {
    font-size: 9px;
    opacity: 0.2;
}
.global-footer__paragraph {
    margin-bottom: 5px;
    margin-top: 0;
}
.global-footer__paragraph:last-child {
    margin-bottom: 0;
}
.global-footer__paragraph a {
    color: inherit;
}
.global-footer__links {
    margin-bottom: 5px;
}
.global-footer__link {
    color: inherit;
    font-size: 12px;
    margin: 0 5px;
    text-decoration: none;
    text-decoration: underline;
}
.global-footer__link:hover {
    color: inherit;
}
html {
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    height: 100%;
    text-align: center;
}
body {
    background: #007cbc url("../images/background.jpg") repeat-x top/cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
.app,
body {
    display: flex;
    overflow: hidden;
}
.app {
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.app,
.body {
    flex-grow: 1;
}
.body {
    font-family: Georgia, sans-serif;
    width: 100%;
}
.body__content {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 2vh;
    padding: 5vh 2vw;
}
.body__title {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.body__paragraph {
    font-size: 20px;
    margin: 0 auto;
    max-width: 360px;
}
.footer {
    text-shadow: 1px 1px 0 #000;
    width: 100%;
}
.footer .global-footer {
    font-size: 14px;
    opacity: 1;
}
.footer .global-footer__link {
    font-size: 14px;
}

.modal {
    
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    &_close {
        animation-name: fadeOut;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }
    &__backdrop {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;

        background-color: rgba(0, 0, 0, 0.5);
    }
    &__content {
        background-color: #fff;
        border-radius: 10px;
        // box-shadow: 0 10px 50px rgb(0 0 0 / 25%);
        box-sizing: border-box;
        margin: auto;
        max-width: 100%;
        position: relative;
        z-index: 1;
    }

    &__title {
        margin-top: 0;
    }
    &__title--h1 {
        color: #34a566;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__title--h2 {
        font-size: 14px;
        font-weight: 700;
    }
    &__paragraph {
        margin-top: 0;
    }
    &__error {
        background-color: #e41e66;
        border-radius: 3px;
        color: #fff;
        margin-bottom: 20px;
        padding: 10px;
    }
    &__instructions {
        list-style-type: none;
        padding: 0;
    }
    &__instructions-item {
        margin-bottom: 5px;
    }
    &__cta {
        text-align: center;
    }
    &__cta-title {
        background-color: #34a566;
        border-radius: 3px;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin: 10px 0 20px;
        padding: 3px;
    }

    &_animation {
        transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.3s ease-out;
    }
}

.operator-button-list {
    width: 100%;
    &__container {
        margin: -3px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;
        background-color: rebeccapurple;
        width: 55px;
        height: 55px;
        margin: 3px;
        border-radius: 16px;
        overflow: hidden;

        box-shadow: 0 3px 5px #00000033;

        transition: height 0.3s ease-out 50ms, width 0.3s ease-out 50ms, margin 0.3s ease-out 50ms;

        &:hover {
            height: 61px;
            width: 61px;
            margin: 0;

            transition: height 0.1s ease-out 50ms, width 0.1s ease-out 50ms, margin 0.1s ease-out 50ms;
        }

        &::after {
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.15));
            // border-radius: 16px;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

/* Add Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
